snippet cmt "comment"
; -----------------------------------------------------------------------------
;   - $1-
; -----------------------------------------------------------------------------$0
endsnippet
