snippet cmt
# -----------------------------------------------------------------------------
#     - $1 -
# -----------------------------------------------------------------------------$0
endsnippet


snippet pp "print" bwA
print($1)
endsnippet
