snippet cmt
// -----------------------------------------------------------------------------
//     - $1-
// -----------------------------------------------------------------------------$0
endsnippet


snippet main
func main() {
	$1
}
endsnippet
