snippet htmlbase
<!doctype html>

<html lang="en">
    <head>                     
        <meta charset="utf-8"> 

        <title>$1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
        <link type="text/css" rel="stylesheet" href="" media="screen,projection"/>
    </head>
  
    <body>
    $0
        <script src=""></script>
    </body>
</html>
endsnippet
