snippet note "Stream note"
+++
title = "$1"
date = `date +%Y-%m-%d`
+++

endsnippet

snippet intro "300 seconds of Rust intro"
----------------------------------------
$1
----------------------------------------

endsnippet
