snippet cmt
// -----------------------------------------------------------------------------
//     - $1-
// -----------------------------------------------------------------------------$0
endsnippet

snippet pp
print("$1", .{});
endsnippet

snippet main
pub fn main() !void {
	$1
}
endsnippet
